{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Gp Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static '/img/favicon.png' %}" rel="icon">
  <link href="{% static '/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="{% static '/https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' %}" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static '/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static '/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Gp
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
    body
     {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        background-image: url('signupimg.jpg'); /* Replace with your own image path */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .signup-container {
        max-width: 500px;
        max-height: 900px;
        margin: 0 auto;
        padding: 5px;
        background-color: rgba(14, 4, 51, 0.5);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        text-align: center;
    }

    .signup-container h2 {
        margin-bottom: 20px;
        color: #333;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        display: block;
        font-weight: bold;
        color:#ccc
      
    }

    .form-group input {
        width: 80%;
        padding: 12px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .error-message {
        color: #e74c3c;
        margin-top: 5px;
        font-size: 12px;
    }

    .success-message {
        color: #27ae60;
        margin-top: 5px;
        font-size: 12px;
    }

    .submit-btn {
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 15px 20px;
        cursor: pointer;
    }

    @media (max-width: 768px) {
        .signup-container {
            max-width: 90%;
        }

        .form-group input {
            padding: 10px;
        }
    }
</style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="{% static '/index.html' %}">KSRTC<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="index.html">Home</a></li>
          <li><a class="nav-link scrollto" href="index.html#about">About</a></li>
          <li><a class="nav-link scrollto" href="index.html#services">Services</a></li>
          {% if user.is_authenticated %}
          <a href="logout" class="btn btn-primary ml-lg-3">Logout</a>
          {% else %}
          <a href="login.html" class="btn btn-primary ml-lg-3">Login/Register</a>
          {% endif %}
          <!-- <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>-->
          <!--<li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>-->
          <li><a class="nav-link scrollto" href="index.html#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      
      <li class="dropdown"></li><a href="registration.html" class="get-started-btn scrollto">Registration</a>
    
    </div>
    
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">
      <body>
        <br><br><br><br>
        <div class="signup-container">
            
            <h2>Sign In</h2>
            <span class="mb-0 text-muted">
            </span>
            <form action="" method="POST">
              {% csrf_token %}
                <div class="form-group">
                    <label for="username">username:</label>
                    <input type="username" id="username" name="username" required>
                    <span id="username-error" class="error-message"></span>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                    <span id="password-error" class="error-message"></span>
                </div>
                <button type="submit" name="signin" class="submit-btn">Sign In</button>
                <span id="success-message" class="success-message"></span><br>
                <a href="{% url 'google_oauth' %}">
    <img src="path/to/google_icon.png" alt="Sign in with Google" style="width: 50px; height: 50px;">Sign in with Google
</a>
            </form>
           <!--<p class="signup">Not have an account? Register here.<a href="{% url 'registration' %}">Register</a></p>-->
           <p><a href="{% url 'password_reset' %}" class="link" style="color: rgb(61, 88, 147);">Forgot Password</a></p>
        </div><br>
    
  </div>
  </div>

        
    
       
  </section><!-- End Hero -->
  <!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>KSRTC<span>.</span></h3>
            <p>
              Thiruvanathapuram <br>
              <br><br>
              <strong>Phone:</strong> +91 9876789876<br>
              <strong>Email:</strong> ksrtc@gmail.com<br>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Town services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Fast Passenger Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Super Express Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Limited Stop Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">City Services</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <!--<h4>Our Newsletter</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">-->
          </form>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>ksrtc</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
      Designed by <a href="{% static '/https://bootstrapmade.com/' %}">BootstrapMade</a>
    </div>
  </div>
</footer><!-- End Footer -->
     

      

    <script src="{% static '/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static '/vendor/aos/aos.js' %}"></script>
    <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static '/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static '/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static '/vendor/php-email-form/validate.js' %}"></script>
  
    <!-- Template Main JS File -->
    <script src="{% static '/js/main.js' %}"></script>
    <!-- Add this JavaScript code inside the <head> section or just before </body> -->
      <!--<script>
        // Clear email and password fields on page load
        window.onload = function() {
            document.getElementById("email").value = "";
            document.getElementById("password").value = "";
        }
    </script>-->
   
    

  </body>
  
  </html>
  
  